body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.second-page{
    background-color: bisque;
}
.title{
    font-size: 36px;
    text-align: center;
}
.form{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
.input{    
    width: 100%;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    border: coral 2px solid;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    color: black;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.button{
    flex-basis: 45%;   
    outline: none;
    cursor: pointer;
    border: 2px solid coral;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
}
.button:hover{
    background-color: coral;
    color: white;
}
.dark-theme{
    background: black;
    font-style: white;
}
.title-dark{
    color: white;
}

.button-dark{
    color: white;
}

.input{
    color: black;
    background-color: coral;
}    
.input:focus::-webkit-input-placeholder {
    color: transparent;
}
.input:focus::-moz-placeholder {
    color: transparent;
}
.input:focus:-moz-placeholder {
    color: transparent;
}
.input:focus:-ms-input-placeholder {
    color: transparent;
}
.input:focus{
    background: transparent;
}
.input-dark{
    color: white;
}

.input::-webkit-input-placeholder {
    color: #fff;
}
.input::-moz-placeholder          {
    color:#fff;
}/* Firefox 19+ */
.input:-moz-placeholder           {
    color: #fff;
}/* Firefox 18- */
.input:-ms-input-placeholder      {
    color:#fff;
}